.login-page-container {
    background-color: black;
}

.login-page-background {
    min-height: 100vh;
    background-image: url('../assets/marx-outline.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login-page-content-wrapper {
    height: 100vh;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .login-page-content-wrapper {
        padding-top: 50vh; /* Pushes content down on mobile */
    }
}
